.card_container {
    display: inline-block;
    margin: 30px;
}

.post {
    color: black;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    margin-bottom: 30px;
    width: 300px;
    height: 400px;
    color: #181818;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


    .userid{
        margin-bottom: 100px;
    }

}

.content {
    padding: 20px;
    border-radius: 30px;
    background-color: wheat;
    max-width: 300px;
    max-height: 400px;
}